@import "../../styles/fonts";
@import "../../styles/const";

.main-btn {
  &[figure='circle'] {
    padding: 0;
    border-radius: 50% ;
    border: 3px solid #fff;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      border-color: #fff;
    }
    &:focus {
      box-shadow: unset;
    }
  }
  @include hammersmithone(16px);
  border-color: $blue;
  color: $blue;
  text-transform: uppercase;
  &:hover {
    border-color: $blue;
    color: $blue;
    background-color: unset;
  }
}
