@import "../styles/fonts";
@import "../styles/color";
@import "../styles/sprites";


.fixed-header-bg {
  background: linear-gradient(90deg, rgba(9, 5, 47, 1), rgba(49, 29, 94, 1));
}

.logo {
  display: flex;
  align-items: center;
  p {
    @include roboto('thin',30px);
    color: $blue;
    margin: 0 0 0 10px;
  }
}

.header-nav-link {
  color: #fff !important;
  @include roboto('black',13px);
  text-transform: uppercase;
  text-decoration: none;
  &:link,&:hover,&:visited,&:active {
    color: #fff;
  }
  &__active {
    @extend .header-nav-link;
    color: $blue !important;
  }
}
