@import "fonts";
@import "color";
@import "utils";

.wrapper-1 {
  text-align: center;
  @include wrap-content(auto,null,"../images/1-over.png");
  p {
    line-height: 24px;
    color:#fff;
    margin-bottom:2rem;
  }

  .divider {
    border-color: $blue;
    opacity: .5;
  }

  &__overlay {
    @include overlay;
  }
  .full-h-center {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

.wrapper-2 {
  @include wrap-content(auto,#fff,null);
  display: flex;
  flex-direction: column;
  .img-logo {
    width: 100%;
    margin: 0 0 1rem;
    background-position: center center;
  }
}

.wrapper-3 {
  @include wrap-content(auto, null, "../../src/images/3-over.png");

  &__overlay {
    padding-top: 10rem;
    padding-bottom: 10rem;
    @include overlay;
  }

  h3 {
    margin-top: 34px;
    margin-bottom: 0;
    color: #ffffff;
    font-size: 16px;
  }
}

.wrapper-4 {
  @include wrap-content(auto,#fff,null);
  display: flex;
  flex-direction: column;
  text-align: center;

  p {
    margin: 0;
  }

  h3 {
    margin-top: 2rem;
  }

  .divider {
    border-color: $black;
    margin-bottom: 4rem;
  }
}

.wrapper-5 {
  @include wrap-content(auto, null, "../../src/images/5-over.png");

  &__overlay {
    @include overlay;
  }
  p {
    color: #fff;
  }
  h2 {
    color: #ffffff;
  }
  .divider {
    border-color: $black;
  }
  .title-wrap {
    p {
      color: #f9f9f9;
      margin: 0;
    }
  }
}

.wrapper-6 {
  @include wrap-content(auto, #fff,null);

  .title-wrap {
    cursor: pointer;
    p,h2 {
      margin: 0;
    }
  }
  .projects {
    background: url("../images/items.png") left top;
    height: 400px;
  }
}

.wrapper-7 {
  @include wrap-content(auto,null,'../images/7-over.png');
  &__overlay {
    @include overlay;
    text-align: center;
  }
  .quote {
    @include playfair('regular',100px);
    line-height: 22px;
    color: #fff;
  }
  p {
    @include playfair('regular',16px);
    letter-spacing: 1px;
    color: #fff;
  }
  h3 {
    color: #fff;
  }
  .emp-row {
    cursor: pointer;
    & > * {
      margin-right: 7px;
      margin-left: 7px;
    }
  }
}
.wrapper-8 {
  @include wrap-content(auto, #fff,null);
  text-align: center;
}

.mentions-container {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  text-align: left;
  img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 990px) {
  .mentions-container {
    text-align: center;
    img {
      margin: auto auto 1rem;
      float: none;
      display: block;
    }
  }
}
