@import "src/styles/utils";
@import "src/styles/const";

.whoarewe-wrap-container {
  text-align: center;


  p {
    line-height: 24px;
    color:#fff;
    margin-bottom:2rem;
  }

  .divider {
    border-color: $blue;
    opacity: .5;
  }
}
